// Default variables.
@import "default-variables";

// Bootstrap Framework.
@import '../bootstrap/assets/stylesheets/bootstrap';

// Base-theme overrides.
@import 'overrides';



$teal: #68c7b3;
$blue: #6cbdc8;
$green: #69d09d;

$darkgray: #333;
$gray: #6a6a6a;
$lightgray: #dad7d7;
$xlightgray: #f2f2f2; 

// fonts & headings
$logofont: 'Kaushan Script', cursive;
$plainfont: 'Open Sans', sans-serif;
// main font 

body {
    font-family: $plainfont;
}

h1 {
  font-family: $plainfont;
  font-size: 35px;
  letter-spacing: 0;
  text-transform: none;
  font-weight: 600;
}
h2 {
  font-family: $plainfont;
  font-size: 30px;
  letter-spacing: 0;
  text-transform: none;
  font-weight: 600;
}

h3 {
  font-family: $plainfont;
  font-size: 25px;
  letter-spacing: 0;
  text-transform: none;
  font-weight: 600;
}

h4 {
  
}

h5 {

}
h6 {

}

// General info
a {
  color: $teal;
  font-weight: bold;
  &:hover {
    color: $blue;
  }
}


// common classes
.bold {
  font-weight: bold;
}
.button {
  // make this look like the buttons in our mockup
  background: $teal;
  color: $darkgray;
  padding: 8 20px;
  &:hover {
    background: $blue;
  }
}

// regions & general page

// logo 
.navbar-default .navbar-brand {
  color: $gray;
  font-size: 43px;
  font-family: $logofont;
  position: relative;
  top: 2px;
  &:hover {
    color: $darkgray;
  }
}

.page-container-border-enabled .page-container {
  /* border-color: #505050; */
  border: none;

}
// content top regions
.region.region-content-top-one, .region.region-content-top-two, .region.region-content-top-three {
    padding: 30px 10px;
}


.clearfix.main-content__container > .row { 
  & > section.col-md-8 {
  border-right: 1px solid gray;
    // need to look at widths Katria at different sizes 
  // or change the md- and lg- numbers etc
  width: 63%;
  }
  & > aside.col-md-4 {
    // need to look at widths Katria at different sizes 
    // or change the md- and lg- numbers etc
  }
}


// general styling

.flag {
  color: #000;
    padding: 4px 15px;
    position: relative;
    width: fit-content;
    top: 50px;
    left: -15px;

  &.teal, &.For.Baby {
    background: $teal;
  }
  &.blue, &.For.Mom {
    background: $blue;
  }
  &.green, &.For.the.Home {
    background: $green;
  }
}

// front page & also
// For Baby, For Mom, For the Home Landing Pages

.view-most-recent-post {
  .views-field-title {
    font-weight: bold;
    font-size: 20px;
 
  }
  .views-field-field-feature-image {
    padding-bottom: 10px;
  }
}


/* ---- front page Only --- */

.path-frontpage {
    h1.js-quickedit-page-title.page-header {
        display: none;
    }
    .view-most-recent-post {
      .views-field-field-publish-date {
        margin-bottom: -20px; // due to flag reposition
      }
    }


}

// page content
p.text-align-center a {
  max-width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


// tags
.field.field--name-field-tags > .field--items {
    display: flex;
    padding: 7px 0;
    .field--item > a {
        padding: 4px 15px;
        background: $xlightgray;
        margin: 0 5px;
    }
}